<h1>Payment Calculation</h1>

<form action="/payment/results">

  <label for="apr">APR</label>
  <input type="text" name="apr" id="apr" placeholder="E.g. 5.42">

  <label for="years">Number of years</label>
  <input type="text" name="years" id="years" placeholder="How many years to repay?">

  <label for="pv">Principal</label>
  <input type="text" name="pv" id="pv" placeholder="How much principal?">

  <button type="submit" name="button">Calculate monthly payment</button>

</form>
