<h1>Random Calculation</h1>

<form action="/random/results">

  <label for="min">Minimum</label>
  <input type="text" name="min" id="min" placeholder="E.g. 1.5">

  <label for="max">Maximum</label>
  <input type="text" name="max" id="max" placeholder="E.g. 4.5">

  <button type="submit" name="button">Pick random number</button>
